.sidebar-container {
    width: 250px;
    position: fixed;
    left: 0%;
    background-color: rgba(255, 255, 255, 1);
    height: 100vh;
}

main {
    padding-left: 250px;
}

.logo {
    height: 12px;
    width: 180px;
}

.sidebar-item {
    padding: 0px 10px;
}

.sidebar-item {
    margin: 20px 0px;
}

.sidebar-item a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(86, 86, 86, 1) !important;
}

.sidebar-item-container .active a {
    color: white !important;
}

.sidebar-item-container .active {
    background-color: rgba(6, 142, 208, 1) !important;
    border-radius: 6px;
}

.sidebar-item:hover {
    cursor: pointer;
}

@media only screen and (max-width: 820px) {
    .sidebar-container {
        width: 50px;
        position: fixed;
        left: 0%;
        background-color: rgba(255, 255, 255, 1);
        height: 100vh;
    }
    main {
        padding-left: 50px;
    }
    .sidebar-container .logo {
        display: none;
    }
    .sidebar-item a {
     display: none;
    }
}